* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

main {
  margin: 10rem 0;
  display: flex;
  height: auto;
  width: 30%;
  border: solid 2px #fa941d;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.con {
  display: flex;
  height: auto;
  width: 80%;

  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
}

.con a {
  width: 100%;
}

a {
  text-align: center;
  text-decoration: none;
}
