* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.outer-main {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.main {
  display: flex;
  height: 80vh;
  width: 70%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.main2 {
  margin-top: 1.5rem;
  display: flex;
  width: 30%;
  height: 50vh;
  justify-content: center;
}

.urediPredmete {
  display: flex;
  height: 90%;
  width: 80%;
  background-color: white;
  border: 2px solid orange;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
}

.mojiPredmeti,
.vsiPredmeti {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 35vh;
  height: auto;
  width: 100%;
  margin-left: 2rem;
  padding: 1rem;
  background-color: white;
  border: 2px solid orange;
}

.predmeti {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 20vh;
  height: auto;
}

h2{
  margin-bottom: 1rem;
  border-bottom: solid 1px silver;
  width: 100%;
}

.predmeti a{
  padding: 0.5rem;
  padding-left: 2rem;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  width: 100%-2rem;
  background-color: rgba(158, 158, 158, 0.24);
  border-radius: 25px;
}

.predmeti a:hover{
  transition: 300ms;
  background-color: rgba(158, 158, 158, 0.493);
}
