@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer-main {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

body {
  font-family: "Lato";
  font-size: 1.2rem;
}

.main {
  display: flex;
  min-height: 80vh;
  height: auto;
  width: 70%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 0.5rem;
}

.main2 {
  margin-top: 1.5rem;
  display: flex;
  width: 30%;
  min-height: 50vh;
  height: auto;
  justify-content: center;
}

.urediPredmete {
  display: flex;
  height: 90%;
  width: 80%;
  background-color: white;
  border: 2px solid orange;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
}

.mojiPredmeti,
.vsiPredmeti {
  margin: 1rem 0;
  min-height: 35vh;
  height: auto;
  width: 100%;
  margin-left: 2rem;
}

h2 {
  background: #fa941d;
  color: #fff;
  padding: 1rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.predmeti {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 20vh;
  height: auto;
  padding: 1rem;
  border-right: 2px solid #fa941d;
  border-left: 2px solid #fa941d;
  border-bottom: 2px solid #fa941d;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

h2 {
  border-bottom: solid 1px silver;
  width: 100%;
}

.predmeti a {
  padding: 0.5rem;
  padding-left: 2rem;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  width: 100%-2rem;
  background-color: rgba(158, 158, 158, 0.24);
  border-radius: 25px;
}

.predmeti a:hover {
  transition: 300ms;
  background-color: rgba(158, 158, 158, 0.493);
}

.predKrat {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 0;
}

.predKrat span {
  background-color: #fa941d;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  color: white;
}

.linki {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
  border-right: 2px solid #fa941d;
  border-left: 2px solid #fa941d;
  border-bottom: 2px solid #fa941d;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
