@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140vh;
  background-color: white;
  font-family: "Lato";
  font-size: 1.2rem;
}

main {
  display: flex;
  height: 90%;
  width: 80%;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
}

.naloga .a {
  padding: 0.5rem;
  padding-left: 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  width: 100%;
  background-color: #fff;
  border: 0.0625rem solid #dadce0;
  border-radius: 0.5rem;
}
.a {
  display: flex;
  width: 100%;
}

.naloga a {
  width: 100%;
  text-decoration: none;
  color: #000;
  padding: 0 1rem;
  line-height: 1.6rem;
}

.naloga .a:hover {
  transition: 300ms;
  background-color: rgba(158, 158, 158, 0.493);
}

h2 {
  margin-bottom: 1rem;
  border-bottom: solid 1px silver;
  width: 100%;
}

.neVemVec {
  text-decoration: none;
  background-color: #fa941d;
  display: block;
  width: auto;
  padding: 1rem;
  color: white;
  border-radius: 10px;
}

.predmet-naslov {
  background: #fa941d;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
}

.predmet-naslov h2 {
  border: none;
}

.stevilka {
  background: #fa941d;
  border-radius: 5px;
  padding: 0.2rem 0.55rem;
  color: #fff;
}
