@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #fa941d;
  height: 100vh;
  
}

h1 {
  text-align: center;
  color: #fff;
  padding: 0 0 3rem 0;
  font-family: Lato;
  font-size: 3rem;
}

main {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  background-color: white;
  border-radius: 20px;
  border: none;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  color: black;
  font-family: Lato;
  font-size: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  gap: 1rem;
}

.chinug {
  background: none;
  border: 4px #fff solid;
  color: #fff;
  font-size: 2rem;
  font-family: Lato;
  padding: 0;
}

.napis {
  color: white;
  font-family: Lato;
  font-size: 1.2rem;
}

.napis a {
  color: white;
}

.naDva {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.naDva div {
  width: 100%;
}

input:focus {
  outline: none;
}

.chinug:hover {
  background-color: #fff;
  color: #fa941d;
  transition-duration: 300ms;
  cursor: pointer;
}

.napaka{
  height: 1.5rem;
  color: white;
  font-family: Lato;
  font-size: 1.2rem;
}
