@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

h1{
    font-family: Audiowide;
    font-size: 3rem;
    color: #FA941D;
}

ul{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

ul li{
    list-style: none;
    height: 20%;
    border: #FA941D solid 2px;
    font-size: 3rem;
    font-family: Lato;
    color: #FA941D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}

